{% load static %}
<!-- barra lateral grid 1 -->
    <div class="sidebar"> 
        <img src="{% static 'img/ifce.png' %}" alt="Logo IFCE" class="logo-ifce">
        <ul>
            <li><a href="/">Dashboard</a></li>
            <li><a href="/setores">Setores</a></li>
            <li><a href="/colaboradores">Colaboradores</a></li>
            <li><a href="/tarefas">Tarefas</a></li>
            <li>
                <a href="/relatorios/menu">Relatórios</a>
            </li>


            <br><hr><br>
            <li><a href="/configuracoes">Perfil</a></li>
            <li><a href="/usuarios">Usuários</a></li>


            <br><hr>
            <li>    
                {% if user.is_authenticated %}
                    <a href="{% url 'authors:logout' %}" class="btn-logout">Sair</a>
                {% endif %}
            </li>


            

        </ul>
    </div>