{% load static %} 
    <tr>

        <td class="img-col">

            {% if colaborador.imagem %}
                <img 
                    src="{{ colaborador.imagem.url }}" 
                    alt="Foto de {{ colaborador.nome }}"
                    class="img-thumb"
                    onclick="abrirImagem('{{ colaborador.imagem.url }}')"
                />
            {% else %}
                <img 
                    src="{% static 'arquivos/colaboradores/default-user.png' %}" 
                    alt="Foto padrão"
                    class="img-thumb"
                    onclick="abrirImagem('{% static 'img/default-user.png' %}')"
                />
            {% endif %}

        </td>
        
        <td>{{ colaborador.nome }}</td>
        <td>{{ colaborador.telefone }}</td>
        <td>{{ colaborador.numero_empresa }}</td>
        <td>{{ colaborador.data_admissao|date:"d/m/Y" }}</td>
        <td>{{ colaborador.get_status_display }}</td>
        
        <td class="acoes">
            {% if perms.management.change_colaborador %}
                {% if colaborador.status == 'ativo' %}
                    <!-- Ativo → Férias -->
                    <a href="{% url 'management:colaborador_mudar_status' colaborador.id 'ferias' %}">
                        <i class="fa-solid fa-user-minus icone-ferias" title="Férias"></i>
                    </a>

                    <!-- Ativo → Desligado -->
                    <a href="{% url 'management:colaborador_mudar_status' colaborador.id 'desligado' %}">
                        <i class="fa-solid fa-power-off desligado" title="Desligar"></i>
                    </a>

                {% elif colaborador.status == 'ferias' %}
                    <!-- Férias → Ativo -->
                    <a href="{% url 'management:colaborador_mudar_status' colaborador.id 'ativo' %}">
                        <i class="fa-solid fa-arrows-rotate" title="Voltar ao ativo"></i>
                    </a>

                    <!-- Férias → Desligado -->
                    <a href="{% url 'management:colaborador_mudar_status' colaborador.id 'desligado' %}">
                        <i class="fa-solid fa-power-off desligado" title="Desligar"></i>
                    </a>

                {% elif colaborador.status == 'desligado' %}
                    <!-- Desligado → Ativo -->
                    <a href="{% url 'management:colaborador_mudar_status' colaborador.id 'ativo' %}">
                        <i class="fa-solid fa-power-off ativo" title="Reativar"></i>
                    </a>
                {% endif %}

            
                <a href="{% url 'management:colaborador_edit' colaborador.id %}"
                class="btn-icon edit"
                title="Editar">
                    <i class="fa-solid fa-pencil"></i>
                </a>

                {% if perms.management.delete_colaborador %}
                    <form action="{% url 'management:colaborador_delete' colaborador.id %}"
                        method="POST"
                        style="display:inline;"
                        onsubmit="return confirm('Você deseja realmente excluir este colaborador?');">
                        {% csrf_token %}

                        <button type="submit" class="btn-icon delete" title="Excluir colaborador">
                            <i class="fa-solid fa-trash"></i>
                        </button>
                    </form>
                {% endif %}


            {% endif %}



           
        </td>
    </tr>
