    <div class="headerTable">
        <h2 class="titleTable"> Colaboradores </h2>

        <form method="get" class="filtros-status">

            <label class="filtro-check">
                <input type="checkbox" name="status" value="ativo"
                {% if 'ativo' in status_selecionados %}checked{% endif %}>
                <span>Ativo</span>
            </label>

            <label class="filtro-check">
                <input type="checkbox" name="status" value="ferias"
                {% if 'ferias' in status_selecionados %}checked{% endif %}>
                <span>Férias</span>
            </label>

            <label class="filtro-check">
                <input type="checkbox" name="status" value="desligado"
                {% if 'desligado' in status_selecionados %}checked{% endif %}>
                <span>Desligado</span>
            </label>

            <button type="submit" class="butaofiltro">Filtrar</button>

        </form>



            {% if perms.management.add_colaborador %}
                <a href="{% url 'management:colaborador_create' %}" class="btn">
                    Cadastrar Colaborador
                </a>
            {% endif %}



    </div>