    <div class="headerTable">
        <h2 class="titleTable"> Colaboradores </h2>

        <div class="filtros-container">

            <button class="filtro-btn" disabled>
                <svg class="icon" width="22" height="22" viewBox="0 0 24 24">
                    <rect x="3" y="3" width="18" height="18" rx="3"/>
                </svg>
                <span>Ativo</span>
            </button>

            <button class="filtro-btn" disabled>
                <svg class="icon" width="22" height="22" viewBox="0 0 24 24">
                    <rect x="3" y="3" width="18" height="18" rx="3"/>
                </svg>
                <span>Férias</span>
            </button>

            <button class="filtro-btn" disabled>
                <svg class="icon" width="22" height="22" viewBox="0 0 24 24">
                    <rect x="3" y="3" width="18" height="18" rx="3"/>
                </svg>
                <span>Desligado</span>
            </button>

        </div>

    </div>