    <div class="headerTable">
        <h2 class="titleTable">Tarefas</h2>
        <div class="filtros">

            <form method="get" class="filtros-status">

                <label class="filtro-check">
                    <input type="checkbox" name="status" value="pendente"
                    {% if 'pendente' in status_selecionados %}checked{% endif %}>
                    <span>Pendentes</span>
                </label>

                <label class="filtro-check">
                    <input type="checkbox" name="status" value="em_andamento"
                    {% if 'em_andamento' in status_selecionados %}checked{% endif %}>
                    <span>Andamento</span>
                </label>

                <label class="filtro-check">
                    <input type="checkbox" name="status" value="concluida"
                    {% if 'concluida' in status_selecionados %}checked{% endif %}>
                    <span>Concluídas</span>
                </label>

                <label class="filtro-check">
                    <input type="checkbox" name="status" value="cancelada"
                    {% if 'cancelada' in status_selecionados %}checked{% endif %}>
                    <span>Canceladas</span>
                </label>

                <button class='butaofiltro'   type="submit" class="btn">Filtrar</button>

            </form>

        </div>
        {% if perms.management.add_tarefas %}
            <a href="{% url 'management:tarefa_create' %}" class="btn">
                Cadastrar tarefa
            </a>
        {% endif %}

    </div>