    <div class="headerTable">
        <h2 class="titleTable">Tarefas</h2>
        <div class="filtros-container">

            <button class="filtro-btn" disabled>
                <svg class="icon" width="22" height="22" viewBox="0 0 24 24">
                    <rect x="3" y="3" width="18" height="18" rx="3"/>
                </svg>
                <span>Pendentes</span>
            </button>

            <button class="filtro-btn" disabled>
                <svg class="icon" width="22" height="22" viewBox="0 0 24 24">
                    <rect x="3" y="3" width="18" height="18" rx="3"/>
                </svg>
                <span>Andamento</span>
            </button>

            <button class="filtro-btn" disabled>
                <svg class="icon" width="22" height="22" viewBox="0 0 24 24">
                    <rect x="3" y="3" width="18" height="18" rx="3"/>
                </svg>
                <span>Concluídas</span>
            </button>

            <button class="filtro-btn" disabled>
                <svg class="icon" width="22" height="22" viewBox="0 0 24 24">
                    <rect x="3" y="3" width="18" height="18" rx="3"/>
                </svg>
                <span>Canceladas</span>
            </button>

        </div>
    </div>