{% include 'global/partials/head.html' %}
        <style>
            i{
                padding-left:10px;
            }
            .filtros-container {
                padding-left: 80px;
                display: flex;
                gap: 15px;
            }

            .filtro-btn {
                background: none;
                border: none;
                cursor: default;
                display: flex;
                align-items: center;
                gap: 6px;
            }

            .filtro-btn span {
                color: #ffffff;
                font-size: 14px;
            }

            .icon {
                stroke: #ffffff;
                fill: none;
            }



            .icone-concluido{
                color:rgb(44, 184, 46);
                font-size: 25px;
                
            }

            .icone-pendente{
                color:red;
                font-size: 25px;
            }
            .icone-editar{
                font-size: 20px;
            }
            .icone-excluir{
                font-size: 20px;
            }

            .title{
                display: inline;
            }
        </style>