{% include 'global/partials/head.html' %}
        <style>
            i{
                padding-left:10px;
            }
            .filtros-container {
                padding-left: 80px;
                display: flex;
                gap: 15px;
            }

            .filtro-btn {
                background: none;
                border: none;
                cursor: default;
                display: flex;
                align-items: center;
                gap: 6px;
            }

            .filtro-btn span {
                color: #ffffff;
                font-size: 14px;
            }

            .icon {
                stroke: #ffffff;
                fill: none;
            }


            .icone-editar{
                font-size: 15px;
            }
            .icone-excluir{
                font-size: 15px;
            }

            .acoes a {
                margin-right: 8px;
                cursor: pointer;
            }


            .icone-concluido {
                color: green;
            }

            .icone-pendente {
                color: yellow;
            }
            .icone-andamento {
                color: white;
            }

            .icone-cancelado {
                color: red;
            }
            .acoes a {
                text-decoration: none;
            }



            .title{
                display: inline;
            }
            .filtros-status {
                display: flex;
                gap: 12px;
                align-items: center;
                flex-wrap: wrap;
            }

            .filtro-check {
                display: flex;
                align-items: center;
                gap: 6px;
                padding: 6px 10px;
                
                border-radius: 6px;
                cursor: pointer;
            }

            .filtro-check input {
                cursor: pointer;
            }
            .butaofiltro{
                height: 30px;
                width: 60px;
                color:  #478EEB;
            }

        </style>