    <tr>
        <td>{{ tarefa.titulo }}</td>
        <td>{{ tarefa.descricao|default:"—" }}</td>
        <td>{{ tarefa.get_nivel_sujeira_display }}</td>
        <td>{{ tarefa.data_inicio|date:"Y-m-d H:i" }}</td>
        <td>{{ tarefa.data_previsao_termino|date:"Y-m-d H:i" }}</td>
        <td>{{ tarefa.data_termino|default:"—" }}</td>
        <td>{{ tarefa.get_prioridade_display }}</td>

        <!-- COLABORADORES (ManyToMany via through) -->
        <td>
            {% for colab in tarefa.colaboradores.all %}
                {{ colab.nome }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                —
            {% endfor %}
        </td>

        <!-- SETORES (ManyToMany via through) -->
        <td>
            {% for setor in tarefa.setores.all %}
                {{ setor.nome }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                —
            {% endfor %}
        </td>

        <td>{{ tarefa.get_status_display }}</td>

        <!-- BOTÕES -->
        <td class="acoes">
            {% if perms.management.change_tarefa %}
                {% if tarefa.status == 'pendente' %}
                    <!-- vai para EM ANDAMENTO -->
                    <a href="{% url 'management:alterar_status_tarefa' tarefa.id 'em_andamento' %}"
                    title="Iniciar tarefa">
                        <i class="fa-solid fa-check icone-andamento"></i>
                    </a>

                    <!-- vai para CANCELADA -->
                    <a href="{% url 'management:alterar_status_tarefa' tarefa.id 'cancelada' %}"
                    title="Cancelar tarefa">
                        <i class="fa-solid fa-xmark icone-cancelado"></i>
                    </a>

                {% elif tarefa.status == 'em_andamento' %}
                    <!-- vai para CONCLUÍDA -->
                    <a href="{% url 'management:alterar_status_tarefa' tarefa.id 'concluida' %}"
                    title="Concluir tarefa">
                        <i class="fa-solid fa-check-double icone-concluido"></i>
                    </a>

                    <!-- volta para PENDENTE -->
                    <a href="{% url 'management:alterar_status_tarefa' tarefa.id 'pendente' %}"
                    title="Voltar para pendente">
                        <i class="fa-solid fa-xmark icone-pendente"></i>
                    </a>

                {% endif %}
                
                    <a href="{% url 'management:tarefa_edit' tarefa.id %}" class="icone-editar"
                    title="Editar">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                

                    {% if perms.management.delete_tarefa %}
                        <form action="{% url 'management:tarefa_delete' tarefa.id %}"
                            method="POST"
                            style="display:inline;"
                            onsubmit="return confirm('Você deseja realmente excluir esta tarefa?');">

                            {% csrf_token %}

                            <button type="submit" class="btn-icon delete" title="Excluir tarefa">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    {% endif %}

           
            {% endif %}


        </td>

    </tr>
