{% load static %} 
 <tr>
        <td class="img-col">

            {% load static %}

            {% static 'img/default-user.png' as default_img %}

            {% if setor.imagem %}
                {% with img_url=setor.imagem.url %}
                    <img 
                        src="{{ img_url }}" 
                        alt="Foto de {{ setor.nome }}"
                        class="img-thumb"
                        onclick="abrirImagem('{{ img_url }}')"
                    />
                {% endwith %}
            {% else %}
                {% with img_url=default_img %}
                    <img 
                        src="{{ img_url }}" 
                        alt="Foto padrão"
                        class="img-thumb"
                        onclick="abrirImagem('{{ img_url }}')"
                    />
                {% endwith %}
            {% endif %}

        </td>

        <td>{{ setor.nome }}</td>
        <td>{{ setor.descricao }}</td>
        <td>{{ setor.dimensao }}</td>
        <td>{{ setor.natureza_piso }}</td>
        <td>{{ setor.area_envidracada }}</td>
        <td>{{ setor.mobilia }}</td>

        <td>
            {% if perms.management.change_setor %}
                <a href="{% url 'management:setor_edit' setor.id %}"
                title="Editar setor"
                class="btn-icon edit">
                    <i class="fa-solid fa-pencil"></i>
                </a>
            {% endif %}

            {% if perms.management.delete_setor %}
                <form action="{% url 'management:setor_delete' setor.id %}" method="POST"
                    class="form-delete"
                    onsubmit="return confirm('Você deseja realmente excluir este setor?');">

                    {% csrf_token %}

                    <button type="submit" class="btn-icon delete-btn" title="Excluir setor">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                </form>

            {% endif %}

            
        </td>
    </tr>
