<tr>
    <td>{{ user.username }}</td>
    <td>{{ user.email|default:"—" }}</td>

    <td>
        {% if user.is_superuser %}
            Superuser
        {% else %}
            {% for group in user.groups.all %}
                {{ group.name }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                Sem grupo
            {% endfor %}
        {% endif %}
    </td>



    <td>
        {% if user.is_active %}
            Ativo
        {% else %}
            Inativo
        {% endif %}
    </td>

    <td>
        <a href="#">Editar</a>
    </td>
</tr>
